html:before,html:after,body:before,body:after{
    content:"";
    background:#000;
    position:fixed;
    display:block;
    z-index:5;
}

html:before{
    height:30px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:30px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height: 30px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:30px;
    top:0;
    bottom:0;
    left:0;
}

body {
  font-family: 'Lato:300', sans-serif;
}

.App {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.icon {
  display:inline-block;
  width: 10vw;
  margin: 0vw 10vw;
}

#icons {
  position: relative;
  top: 40vh;
  left: 3vw;
}

#logo-name {
  position: relative;
  top: 20vh;
  left: 28vw;
  font-size: 10vw;
  font-weight: 100;
}

.pageTitle {
  position: absolute;
  top: 3vh;
  left: 5vw;
}

.innovate {
  background-image: url('./images/innovate.1@1x.png');
  background-size: contain; 
  height: 100vh;
  width: 100vw;
}

.create {
  background-image: url('./images/create.1@1x.png');
  background-size: contain;
  height: 100vh;
  width: 100vw
}

.operate {
  background-image: url('./images/operate.2@1x.png');
  background-size: contain;
  height: 100vh;
  width: 100vw
}

#operateText {
  position: absolute;
  bottom: 20vh;
  right: 20vw;
}

#innovate:hover {
  content: url('./images/innovate.color.svg')
}

#create:hover {
  content: url('./images/create.color.svg')
}

#operate:hover {
  content: url('./images/operate.color.svg')
}